.App {
  text-align: center;
}

.header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.userGallery,
.home {
  background: grey;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
  padding: 50px;
}

h2,
h3,
p,
a,
input {
  margin: 0 0 20px 0;
  padding: 0;
}

h3 {
  margin-bottom: 10px;
}

a {
  color: black;
  display: block;
  padding: 5px;
  text-decoration: none;
}

.userGallery__item {
  width: 30%;
  margin: 0 auto 20px auto;
}

.userGallery__imageContainer {
  width: 100%;
}

img {
  width: 100%;
}
